* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: .5rem;
    max-width: 800px;
    margin: auto;
}

.h1, h2, h3 {
    color: #004878;
    font-family: "Roboto", serif;
    font-weight: 600;
    font-style: normal;
}

.h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: .25rem;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .25rem;
    gap: .1rem;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: .25rem;
    gap: .1rem;
}

.col-3a {
    display: grid;
    grid-template-columns: 50% 20% 30%;
    margin-bottom: .25rem;
    gap: .1rem;
}

.grid {
    display: grid;
}

.subtitle {
    font-size: .8rem;
}

.spacer {
    margin-top: 1rem;
}

/* SELECTION AREA */

.selection-area {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.selection-area select {
    max-width: 90%;
    outline: none;
}

.selection-area option {
    font-size: .75rem;
}

.label {
    margin-top: .5rem;
    display: inline-block;
}

/* MAIN AREA */

main {
    margin-top: 1rem;
}

#facility-list option {
    font-size: .6rem;
}

#facility-list {
    max-width: 90%;
    outline: none;
    font-size: .6rem;
}

/* MAIN AREA - FACILITY INFO */

#facility-info h2, #facility-info h3 {
    margin-top: 1rem;
}

#facility-info p {
    padding-left: .5rem;
    font-size: .9rem;
}

#facility-info .field-name {
    background-color: #cfdfff;
    padding: .2rem;
    padding-left: .5rem;
}

.bottom-data {
    align-self: flex-end;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 550px) {
    .col-2-550 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: .25rem;
        gap: .1rem;
    }
}

@media only screen and (min-width: 700px) {
    .col-2-700 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: .25rem;
        gap: .1rem;
    }
}